# Ignore input and output directories at any level
input/
output/

.venv
.svn

# Ignore all JSON files
*.json

*.uuid

# But keep config.json
!config.json

# Other file types to ignore
*.xml
*.xlsx
*.txt
*.html
*.log


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

*vw-mdl-med*/
*vw-mdl*/

*.zip
